doctype html
head
  title Pug
form(style='width:100px' action='http://localhost:3000/friend' method='POST')
  | &gt;
  strong Token: 
  input(name='authorization' type='text')
  strong First name*: 
  input(name='first_name' type='text')
  strong Last name*: 
  input(name='last_name' type='text')
  strong Nickname: 
  input(name='nickname' type='text')
  button Send